body {
    font-family: Arial, sans-serif;
    background-color: palegoldenrod;
    margin: 0;
    padding: 0;
}

.menu-container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: pink;
    margin-bottom: 20px;
    font-size: 40px;

    
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    background: #e0e0e0;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#menu li:hover {
    background: gray;
    color: white;
}

#item-details {
    margin-top: 20px;
    display: none;
    text-align: center;
}

#item-details p {
    margin: 5px 0;
    font-size: 18px;
}
